<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" >
		<link rel="stylesheet" href="/css/sweetalert.css">
		<link rel="stylesheet" href="/css/theme.css">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light">
			<a class="navbar-brand" href="/">Prithu Ahmed</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					{{#navLink "/"}}Home{{/navLink}}
					{{#navLink "/about"}}About{{/navLink}}
					{{#navLink "/htmlDemo"}}Html Demo{{/navLink}}
				</ul>
				<ul class="navbar-nav ml-auto">
					{{#navLink "/employees"}}Employees{{/navLink}}					
					{{#navLink "/departments"}}Departments{{/navLink}}
				</ul>
			</div>
		</nav>

		<div class="container">
			{{{body}}}
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
		<script src="/js/sweetalert.min.js"></script>
		<script>
			$(document).ready( function () {
				$('#myTable').DataTable();
				$('.datepicker').datepicker();
				$('.confirmation').on('click', function(event){
					event.preventDefault();
					var target = $(event.target);
					var href = null;
					if (target.is("a")) href = target.attr("href");
					swal({
						title: "Confirm Delete",
						text: "Are you sure you want to delete this record?",
						icon: "warning",
						buttons: [
							'No, cancel it!',
							'Yes, delete it!'
						],
						dangerMode: true,
						confirmButtonClass: "btn-danger"
					}).then(function(isConfirm) {
						if (isConfirm) {
							if (href){
								fetch(href)
								.then(json => {
									location.reload(); 
									swal({title:"Deleted!", text:"The record has been deleted.",icon:"success",timer: 2000});
								});
							}
						}
					});
					
				});
			} );
		</script>
	</body>
</html>