			<div class="row">
				<main class="col-md-12">
					<!-- Start your code here -->					
					<p>Welcome to my website, I will be demonstrating HTML5 principles and techniques, DOM manipulation</p>
					<h4>Introduction</h4>
					<p>This site consists of 3 static views as well as 5 routes that supply data.
						<ul class="content">
							<li><a href="/" class="hvr-underline-from-left"><span>Home</span></a></li>			
							<li><a href="/about" class="hvr-underline-from-left"><span>About</span></a></li>
							<li><a href="/htmlDemo" class="hvr-underline-from-left"><span>HTML Demo</span></a></li>
							<li><a href="/employees" class="hvr-underline-from-left"><span>All Employees</span></a></li>
							<li><a href="/employee/add" class="hvr-underline-from-left"><span>Add Employee</span></a></li>
							<li><a href="/employees?department=5" class="hvr-underline-from-left"><span>Employees by Department</span></a></li>
							<li><a href="/employee/11" class="hvr-underline-from-left"><span>A Single Employee By Employee Number</span></a></li>
							<li><a href="/departments" class="hvr-underline-from-left"><span>All Departments</span></a></li>
						 </ul>
					 </p>
					<!-- End your code here  -->

					<h4>Introducing HTML 5</h4>
					<p>This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web</p>
				</main>
			</div>		