			<div class="row">
				<main class="col-md-12">
					<!-- Start your code here -->					
					<h4>HTML DEMO</h4><br><br>
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th>First Name</th>
									<th>Last Name</th>
									<th>Email</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Foster</td>
									<td>Thorburn</td>
									<td>fthorburn0@myCompany.com</td>
								</tr>
								<tr>
									<td>Emmy</td>
									<td>Trehearne</td>
									<td>etrehearne1@myCompany.com</td>
								</tr>
								<tr>
									<td>Zonnya</td>
									<td>Laytham</td>
									<td>zlaytham2@myCompany.com</td>
								</tr>
								<tr>
									<td>Asia</td>
									<td>Bollon</td>
									<td>abollon3@myCompany.com</td>
								</tr>
								<tr>
									<td>Ysabel</td>
									<td>Collyns</td>
									<td>ycollyns4@myCompany.com</td>
								</tr>
							</tbody>
						</table>
					<!-- End your code here  -->
				</main>
			</div>
